
.heroSection{
    background: url(../../../images/bannerbackground.png) ;
    height: 85vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}